<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardMemberMapper">
  <select id="selectAllMember" resultType="dto.BoardMemberDTO">
    select * from board_member
  </select>

  <insert id="insertMember">
  	insert into board_member(id,passwd,username,nickname)
  	values(#{id},standard_hash(#{passwd},'SHA512'),#{userName},#{nickName})
  </insert>

  <delete id="deleteMember">
  	delete from board_member where id like #{id}
  </delete>
  
  <update id="updateMember">
	update board_member set username = #{userName}, nickName = #{nickName}, 
	passwd = standard_hash(#{passwd},'SHA512')
	where id like #{id}
  </update>
  <update id="updateMember2" parameterType="map">
	update board_member set username = #{userName}, nickName = #{nickName}, 
	passwd = standard_hash(#{password},'SHA512')
	where id like #{id}
  </update>
</mapper>







